* {
    box-sizing: border-box;
}
header{
    position:fixed;
    top:0px;
    left:0px;
    display:flex;
    background-color:grey;
    width:100%;
    justify-content: space-between;
}

.nav-li{
    display:inline;
    font-size: 20px;
}
.nav-div{
    /*border:1px solid black;*/
    margin-top:20px;
    font-size:10px;
    
}
a:link{
    color:black;
    text-decoration: none;
}
a:visited{
    color:black;
    text-decoration: none;
}
a:hover{
    color:white;
    text-decoration: underline;
}
h2{
    text-align: center;
}
.search-section{
    margin-top:100px;
}
form{
    background-color:rgb(200,200,200);
    padding:20px;
}
main{
    margin-bottom:50px;
    margin-top:50px;
}
.box{
    margin-left:auto;
    margin-right:auto;
    margin-top:20px;
    margin-bottom:20px;
    border:1px solid black;
    width:80%;

}
.js-navigation{
    list-style:none;
}
.hide-me{
    display:none;
}
table, th, td {
  border: 1px solid black;
}
.line-chart{
    border:1px solid lightgray;
}


